@import "tailwindcss";

.eb-garamond-bold {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.eb-garamond-norm {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.zhi-mang-xing-regular {
  font-family: "Zhi Mang Xing", serif;
  font-weight: 400;
  font-style: normal;
}

.dookie-text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.relative:hover + .ml-10 .dookie-text {
  opacity: 1;
}
